html {
  line-height: 150%;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
  line-height: 150%;
}

.bio_content p {
  text-align: center;
}

.html,
.css,
.js,
.vue {
  font-weight: bold;
}

.communication,
.flexibility,
.honest {
  font-size: 1.2rem;
  line-height: 150%;
}

.container {
  background: url("/img/bg1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.bio {
  background: linear-gradient(to bottom, rgba(47, 60, 79, 0.5), rgba(245, 245, 245, 0.8));
}

.customer_service,
.problem_solving,
.dispute_resolution,
.data_processing {
  justify-self: center;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5%;
  background-color: #fff;
  text-transform: capitalize;
}

.skill_set {
  background: rgba(214, 230, 242, 0.98);
}

.related_skills {
  background: rgba(214, 230, 242, 0.98);
}

.personal_attributes {
  background: rgba(214, 230, 242, 0.98);
  padding-top: 4%;
  padding-bottom: 4%;
}

.communication,
.flexibility,
.honest {
  background-color: #fff;
}

.student_work {
  background: rgba(214, 230, 242, 0.98);
}

h1,
h2,
h3 {
  text-align: center;
  text-transform: capitalize;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "bio bio bio bio" "skills skills skills skills" "related related related related" "educational educational educational educational" "personal personal personal personal" "student_work student_work student_work student_work";
}

.bio {
  grid-area: bio;
}

.icon {
  text-align: center;
}

.bio_content {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.skill_set {
  grid-area: skills;
  padding-top: 5%;
  align-items: center;
  align-content: center;
}

.skill_set_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  text-align: center;
  width: 80%;
  margin: auto;
}
.skill_set_content p {
  font-weight: bold;
}

.related_skills {
  grid-area: related;
}

.software_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 80%;
  margin: auto;
}

.skill_set_content img {
  width: 100%;
}

.html,
.css,
.js,
.vue {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}
.html p,
.css p,
.js p,
.vue p {
  margin-top: 120px;
  text-align: center;
}

.html {
  background: url("/img/related/html5.svg");
}

.css {
  background: url("/img/related/css3.svg");
}

.js {
  background: url("/img/related/javascript.svg");
}

.vue {
  background: url("/img/related/vue-dot-js.svg");
}

.educational_bg {
  grid-area: educational;
}

.personal_attributes {
  grid-area: personal;
}

.communication,
.flexibility,
.honest {
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1%;
  padding: 5%;
}
.communication p,
.flexibility p,
.honest p {
  text-align: justify;
}

.personal_content img {
  width: 50%;
}

.personal_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4%;
  justify-items: center;
}

.student_work {
  grid-area: student_work;
}

.bio {
  padding-top: 4%;
  height: 100vh;
}

.bio_content h2 {
  padding-top: 1%;
}
.bio_content p {
  padding-top: 1%;
}

.skill_set {
  height: 100vh;
}

.skill_set_content {
  padding-top: 6%;
}

.customer_service,
.problem_solving,
.dispute_resolution,
.data_processing {
  padding: 25%;
}

.related_skills {
  height: 100vh;
  padding-top: 8%;
}

.related_content {
  padding-top: 10%;
}

.personal_attributes {
  height: 100vh;
}

.personal_content {
  padding-top: 4%;
  width: 90%;
  margin: auto;
}

.communication,
.flexibility,
.honest {
  width: 80% auto;
}

.student_work {
  height: 100vh;
}
.student_work h3 {
  padding-top: 1%;
  padding-bottom: 2%;
}

.student_work > div {
  width: 80%;
  margin: auto;
}

.pulse {
  width: 25rem;
  height: 25rem;
  margin: auto;
  background: #ff6d4a;
  background: url("/img/profile-pic/selorm.jpg") no-repeat;
  background-size: contain;
  border-radius: 50%;
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0), 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0), 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}
.customer_service:hover,
.problem_solving:hover,
.dispute_resolution:hover,
.data_processing:hover,
.communication:hover,
.flexibility:hover,
.honest:hover {
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
}

@-webkit-keyframes bounce {
  20% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}

@keyframes bounce {
  20% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}/*# sourceMappingURL=style.css.map */