$background-color: #699c78;
$highlight-color: #7dc383;
$text-color: #fff1bc;

$background-color1: #f5f5f5;
$highlight-color1: #d6e6f2;
$text-color1: #303841;

$background-color2: #2f3c4f;
$highlight-color2: #506f86;
$text-color2: #fbb040;

$background-color3: #374955;
$highlight-color3: #f62a66;
$text-color3: #ffd933;

$background-color4: #455d7a;
$highlight-color4: #f95959;
$text-color4: #facf5a;

$background-color5: #3a4750;
$highlight-color5: #303841;
$text-color5: #be3144;
