$background-color: #699c78;
$highlight-color: #7dc383;
$text-color: #fff1bc;

$background-color1: #f5f5f5;
$highlight-color1: #d6e6f2;
$text-color1: #303841;

$background-color2: #2f3c4f;
$highlight-color2: #506f86;
$text-color2: #fbb040;

$background-color3: #374955;
$highlight-color3: #f62a66;
$text-color3: #ffd933;

$background-color4: #455d7a;
$highlight-color4: #f95959;
$text-color4: #facf5a;

$background-color5: #3a4750;
$highlight-color5: #303841;
$text-color5: #be3144;

.container {
  background: url("/img/bg1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bio {
  background: linear-gradient(
    to bottom,
    rgba($color: $background-color2, $alpha: 0.5),
    rgba($color: $background-color1, $alpha: 0.8)
  );
}

.bio {
  @include bio;
}

.customer_service,
.problem_solving,
.dispute_resolution,
.data_processing {
  justify-self: center;
  width: 50%;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.8);
  border-radius: 5%;
  background-color: #fff;
  text-transform: capitalize;
}

@mixin skill_set {
  background: rgba($color: $highlight-color1, $alpha: 0.98);
}

.skill_set {
  @include skill_set;
}

@mixin related_skills {
  background: rgba($color: $highlight-color1, $alpha: 0.98);
}

.related_skills {
  @include related_skills;
}

.personal_attributes {
  background: rgba($color: $highlight-color1, $alpha: 0.98);
  padding-top: 4%;
  padding-bottom: 4%;
}

.communication,
.flexibility,
.honest {
  background-color: #fff;
}

.student_work {
  background: rgba($color: $text-color1, $alpha: 1);
  color: #fff;
}
