h1,
h2,
h3 {
  text-align: center;
  text-transform: capitalize;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "bio bio bio bio"
    "skills skills skills skills"
    "related related related related"
    "educational educational educational educational"
    "personal personal personal personal"
    "student_work student_work student_work student_work";
}

.bio {
  grid-area: bio;
  img {
    width: 15%;
    border-radius: 5%;
  }
}
.icon {
  text-align: center;
}
.bio_content {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.skill_set {
  grid-area: skills;

  .skill_set_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

    p {
      font-weight: 600;
    }
  }
}

.related_skills {
  grid-area: related;
  h3 {
    text-align: center;
  }
}

.related_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ms_office,
.ms_office h3,
.hardware h3 {
  text-align: justify;
}

.software_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.skill_set_content img {
  width: 30%;
}

.html,
.css,
.js,
.vue,
.word {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.html {
  background: url("/img/related/html5.svg");
}

.css {
  background: url("/img/related/css3.svg");
}

.js {
  background: url("/img/related/javascript.svg");
}

.vue {
  background: url("/img/related/vue-dot-js.svg");
}

.educational_bg {
  grid-area: educational;
}

.personal_attributes {
  grid-area: personal;
}

.communication,
.flexibility,
.honest {
  text-align: center;

  p {
    text-align: justify;
  }
}

.personal_content img {
  width: 50%;
}

.personal_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4%;
  justify-items: center;
}

.student_work {
  grid-area: student_work;
}
