h1,
h2,
h3 {
  text-align: center;
  text-transform: capitalize;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "bio bio bio bio"
    "skills skills skills skills"
    "related related related related"
    "educational educational educational educational"
    "personal personal personal personal"
    "student_work student_work student_work student_work";
}

.bio {
  grid-area: bio;
  img {
    width: 25%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.7);
  }
}
.icon {
  text-align: center;
}
.bio_content {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.skill_set {
  grid-area: skills;
  padding-top: 5%;
  align-items: center;
  align-content: center;
}
.skill_set_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  text-align: center;
  width: 80%;
  margin: auto;

  p {
    font-weight: bold;
  }
}

.related_skills {
  grid-area: related;
}

.software_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 80%;
  margin: auto;
}

.skill_set_content img {
  width: 100%;
}

.html,
.css,
.js,
.vue {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  p {
    margin-top: 120px;
    text-align: center;
  }
}

.html {
  background: url("/img/related/html5.svg");
}

.css {
  background: url("/img/related/css3.svg");
}

.js {
  background: url("/img/related/javascript.svg");
}

.vue {
  background: url("/img/related/vue-dot-js.svg");
}

.educational_bg {
  grid-area: educational;
}

.personal_attributes {
  grid-area: personal;
}

.communication,
.flexibility,
.honest {
  text-align: center;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
  border-radius: 1%;
  padding: 5%;

  p {
    text-align: justify;
  }
}

.personal_content img {
  width: 50%;
}

.personal_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4%;
  justify-items: center;
}

.student_work {
  grid-area: student_work;
}
