.bio {
  padding-top: 4%;
  height: 100vh;
}

.bio_content {
  h2 {
    padding-top: 1%;
  }
  p {
    padding-top: 1%;
  }
}

.skill_set {
  height: 100vh;
}

.skill_set_content {
  padding-top: 10%;
}

.related_skills {
  height: 100vh;
}

.related_content {
  padding-top: 10%;
}

.personal_attributes {
  height: 100vh;
}

.personal_content {
  padding-top: 8%;
  width: 90%;
  margin: auto;
}
.personal_content img {
  padding-bottom: 8%;
}

.communication,
.flexibility,
.honest {
  width: 80% auto;
}

.student_work {
  padding-top: 15%;
  height: 100vh;
  h3 {
    padding-top: 4%;
    padding-bottom: 4%;
  }
}

.student_work > div {
  width: 80%;
  margin: auto;
}
