.bio {
  padding-top: 4%;
  height: 100vh;
}

.bio_content {
  h2 {
    padding-top: 1%;
  }
  p {
    padding-top: 1%;
  }
}

.skill_set {
  height: 100vh;
}

.skill_set_content {
  padding-top: 6%;
}

.customer_service,
.problem_solving,
.dispute_resolution,
.data_processing {
  padding: 25%;
}

.related_skills {
  height: 100vh;
  padding-top: 8%;
}

.related_content {
  padding-top: 10%;
}

.personal_attributes {
  height: 100vh;
}

.personal_content {
  padding-top: 4%;
  width: 90%;
  margin: auto;
}

.communication,
.flexibility,
.honest {
  width: 80% auto;
}

.student_work {
  height: 100vh;
  padding-top: 5%;
  h3 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

.student_work > div {
  padding-top: 2%;
  width: 80%;
  margin: auto;
}
