.bio {
  padding-top: 2%;
  height: 100vh;
}
.bio {
  img {
    padding-top: 1%;
  }
}
.bio_content {
  padding-top: 3%;
}

.skill_set {
  height: 80vh;
}

.skill_set_content {
  padding-top: 8%;
}

.related_skills {
  height: 80vh;
}

.related_content {
  padding-top: 5%;
}

.group_b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 8%;
}

.software_content,
.hardware_content,
.office_content {
  padding-top: 4%;
  width: 80% auto;
}

.personal_attributes {
  height: 90vh;
}

.personal_content {
  padding-top: 8%;
  width: 90%;
  margin: auto;
}
.personal_content img {
  padding-bottom: 8%;
}

.communication,
.flexibility,
.honest {
  width: 80% auto;
}

.student_work {
  height: 90vh;
  h3 {
    padding-top: 4%;
    padding-bottom: 4%;
  }
}

.student_work > div {
  width: 80%;
  margin: auto;
}
